.archive-page {
   position: absolute;
   top: 120px;
   left: 0;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 24px;
   padding: 0 48px;
}

.archive-header {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.archive-title-line {
   display: flex;
   flex-direction: row;
   gap: 40px;
   justify-content: space-between;
}

.archive-title {
   font-size: 32px;
}

.filter {
   display: flex;
   flex-direction: row;
   gap: 16px;
   align-items: center;
}

.archive-list {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 8px;
}