:root {
   --color-purple-dark: #241860;
   --color-purple-light: #5451D6;
   --color-light: #E3F1FF;
   --hover-light: #c4cfda;
}

* { 
   box-sizing: border-box; 
   padding: 0;
   margin: 0;
}

body {
   font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
   background: var(--color-purple-dark);
   color: var(--color-light);
   padding: 40px;
}

.body-main {
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.body-small {
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}