.column {
    background: var(--color-purple-light);
    border-radius: 16px;
    padding: 16px;
    min-width: 259px;
    height: 400px;
    border: 0.4px solid var(--color-light);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.column-header {
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.column-title {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.column-label {
   color: var(--color-light);
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

.task-counter {
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
}

.column-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
}

.column-body::-webkit-scrollbar {
   display: none;              
}

.column-buttons {
    margin-top: auto;
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.column-archive-delete {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.create-btn {
   width: 100%;
   font-size: 16px;
   position: sticky;
}

.archive-all {
    font-size: 12px;
    width: 100%;
}

.delete-all {
    font-size: 12px;
    width: 100%;
}