.tag {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 28px;
   height: 28px;
   color: var(--color-light);
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 24px;
}

.arrow {
   display: inline-flex;
   align-content: center;
   justify-content: center;
   width: 32px;
   height: 32px;
   border-radius: 8px;
   background-color: var(--color-light);
   border: none;
   cursor: pointer;
}

.arrow:hover {
   background-color: var(--hover-light);
}

.icon {
   max-width: 18px;
}

.button-main {
   padding: 8px 24px;
   background-color: var(--color-light);
   color: var(--color-purple-dark);
   font-size: 20px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   border: none;
   border-radius: 32px;
   cursor: pointer;
}

.button-main:hover {
   background-color: var(--hover-light);
}