.header {
   display: flex;
   flex-direction: column;
   gap: 40px;
   align-items: flex-start;
   overflow-x: auto;
   width: 100%;
}

.header-title {
   font-size: 48px;
   line-height: 58px;
}

.topbar-actions {
   display: flex;
   flex-direction: row;
   gap: 16px;
}

.board {
   display: flex;
   flex-direction: row;
   gap: 16px;
   align-items: flex-start;
   overflow-x: auto;
   width: 100%;
   margin-top: 40px;
}