.task-view{
   position: fixed;
   inset: 0;
   background: rgba(0,0,0,.45);
   z-index: 9999;        
   display: flex;
   align-items: center;     
   justify-content: center; 
}

.modal-box{
   display: flex;
   flex-direction: column;
   width: 300px;
   color: black;
   overflow: auto;
   background: #fff;
   border-radius: 14px;
   padding: 16px;
}

ul{
   list-style: none;
   margin: 0;
   padding: 0;
}

.x-btn{
   cursor: pointer;
   align-self: flex-end;
}