.task-view{
   position: fixed;
   inset: 0;
   background: rgba(0,0,0,.45);
   z-index: 9999;        
   display: flex;
   align-items: center;     
   justify-content: center; 
}

.modal-box{
   display: flex;
   flex-direction: column;
   width: 400px;
   color: var(--color-purple-dark);
   overflow: auto;
   background: var(--color-light);
   border-radius: 14px;
   padding: 24px;
   gap: 8px;
}

ul{
   list-style: none;
   margin: 0;
   padding: 0;
}

.x-btn{
   cursor: pointer;
   align-self: flex-end;
}

.task-view-buttons {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 20px;
}

.archive-delete-buttons {
   display: flex;
   flex-direction: row;
   gap: 8px;
}

.ade-button {
   font-size: 16px;
   background-color: var(--color-purple-dark);
   color: var(--color-light);
}